<div style="margin: 100px 400px;">

    <h1 style="text-align: center;">SUENOS DE QUINCEANERA</h1>
    <div class="media" style="margin: 50px 0px;">
        
        <div class="media-body">
          <p>Suenos de Quinceanera Inc. is an event decor and rental company based in Faribault, MN.  
              That specializes in Wedding and Quinceanera planning, event design and customized 
              party supplies. With 16 years of experience, the company has established relationships 
              with vendors in the wedding industry and also has creative planners, designers and 
              decorators on staff. Wanting to bring your ideas for your big day to life.</p>
        </div>
        <img src="../../assets/image/store.jpg" class="mr-3 rounded-lg" alt="Picture of angel">
      </div>

    <div style="margin: 50px 0px;">
        <hr class="mt-2 mb-3"/>
      </div>

    <h1 style="text-align: center;">MEET THE TEAM</h1>
    <div class="media" style="margin: 50px 0px;">
        <img src="../../assets/image/adan_ana.jpg" class="mr-3 rounded-lg" alt="Picture of angel">
        <div class="media-body">
          <h2 class="mt-0">Founder and CEO</h2>
          <h3>Adan & Ana</h3>
          <p>Anabel Quintero is woman with a passion for event planning and décor. Specializing in 
              Quinceaneras for the latina queen teens and Weddings with graceful style and elegance. 
              With over a decade of experience in the industry, Ana uses her meticulous eye for detail 
              and flair for style to create the perfect ambiance for your special events. From a high 
              end 500 guest Quinceanera bash to the 50 guest intimate Wedding. No event is too small or
               too big to give it the special details it needs. Ana's portfolio is very diverse. From 
               private events to corporate events involving the Quinceanera Industry.  
               Always using her unique talents and knowledge to assure a memorable experience</p>
        </div>
      </div>
</div>
