
<div  style="margin: 50px 400px;">
    <div style="text-align: center;">
    <h2>Contact Us</h2>
    <h3>hablamos ESPANOL !</h3>
</div>
<div style="text-align: center; margin-top: 50px;">
<iframe width="600" height="450" frameborder="0" style="border:0" 
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJLdRFUkP39ocR7Pq094hTMRE&key=AIzaSyCnGD2nUZ3qCGNPN_Yu8DDJ9MmHyFamfrg" 
allowfullscreen></iframe>
</div>
<div class="row text-center" style="margin-top: 50px;">
    <div class="col-md-4">
        <i class="fas fa-map-marker-alt fa-3x"></i>
        <p>Faribault MN, 55021 United States</p>
    </div>
    <div class="col-md-4">
        <i class="fas fa-phone-square fa-3x"></i>
        <p>(507)334-0072</p>
        <p>(507)412-1329</p>
    </div>
    <div class="col-md-4">
        <a class="btn"></a><i class="fas fa-envelope fa-3x" ></i>
        <p>adan31@hotmail.com</p>
    </div>
</div>
</div>
